<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>
<div class="register">
    <h2 class="register-header">Registra tu cita</h2>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-container">
        <div class="form-group">
            <div class="row">
                <div class="col-25">
                    <label for="fname">Tipo de Cita:</label>
                </div>
                <div class="col-75">
                    <select input="text" class="form-control" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && f.especialidad.errors }">
          					      <option value="">Selecciona el tipo de cita</option>
          					      <option value="Cabecera">Cabecera</option>
          						  <option value="Especialidad">Especialidad</option>
          					      <option value="Enfermeria">Enfermería</option>
          						  <option value="Rehabilitación">Rehabilitación</option>				      
          					      
          					    </select>
                    <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
                        <div *ngIf="f.tipo.errors.required">Seleccione un tipo de cita</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="fname">Especialidad:</label>
                </div>
                <div class="col-75">
                    <select input="text" class="form-control" formControlName="especialidad" [ngClass]="{ 'is-invalid': submitted && f.especialidad.errors }">
                                <option value="">Selecciona la especialidad</option>
          					      <option value="Cabecera">Dermatologia</option>
          						  <option value="Enfermero">Traumatología</option>
          					      <option value="Pediatría">Oftalmologia</option>
          						  <option value="Traumatología">Cardiología</option>				      
          					      <option value="">Otorrinolaringología</option>
          					      <option value="Cabecera">Urología</option>
          						  <option value="Enfermero">Psiquiatría</option>
          					      <option value="Pediatría">Alergología</option>
          						  <option value="Traumatología">Endocrinología</option>
          					    </select>
                    <div *ngIf="submitted && f.especialidad.errors" class="invalid-feedback">
                        <div *ngIf="f.especialidad.errors.required">Seleccione una especialidad</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="fname">Médico:</label>
                </div>
                <div class="col-75">
                    <select input="text" class="form-control" formControlName="medico" [ngClass]="{ 'is-invalid': submitted && f.medico.errors }">
                                    <option value="">Selecciona un médico</option>
                                    <option value="11111112">Manuel Sarabia</option>
                                    <option value="11111113">Sara Rodriguez</option>
									<option value="11111114">Manuel Ortega</option>	
									<option value="11111115">Ernesto Valverde</option>	
									<option value="11111116">Lucia Sanz</option>					      
                                    </select>
                    <div *ngIf="submitted && f.medico.errors" class="invalid-feedback">
                        <div *ngIf="f.medico.errors.required">Selecciona un médico</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="fname">Fecha:</label>
                </div>
                <div class="col-75">
                    <input type="date" formControlName="fecha" min="2019-11-02" max="2021-11-26" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }" />
                    <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
                        <div *ngIf="f.fecha.errors.required">Selecciona una fecha valida</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="fname">Hora:</label>
                </div>
                <div class="col-75">
                    <input type="time" placeholder="Hora" formControlName="hora" min="08:00" max="14:30" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hora.errors }" />
                    <div *ngIf="submitted && f.hora.errors" class="invalid-feedback">
                        <div *ngIf="f.hora.errors.required">Selecciona una fecha valida</div>
                    </div>

                </div>
            </div>
            <div class="row justify-content-center">
                <p><input type="submit" value="Registrar cita " class="button2"></p>
                <p><input type="submit" value="Cancelar  " class="button1"></p>
            </div>
        </div>
    </form>