<div class="container">
	<form action="action_page.php">
		<div class="row1 ">
			<mat-toolbar>
				<span>Formulario</span>
			</mat-toolbar>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="fname">Nombre</label>
			</div>
			<div class="col-75">
				<input type="text" id="fname" name="firstname" placeholder="Introduce nombre">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="lname">Apellidos</label>
			</div>
			<div class="col-75">
				<input type="text" id="lname" name="lastname" placeholder="Introduce apellidos">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="country">Rol</label>
			</div>
			<div class="col-75">
				<select id="rol" name="rol">
					<option value="especialista">Especialista</option>
					<option value="cabecera">Cabecera</option>
					<option value="enfermero">Enfermero</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="fname">Centro</label>
			</div>
			<div class="col-75">
				<input type="text" id="fname" name="firstname" placeholder="Introduce centro">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="fname">Email</label>
			</div>
			<div class="col-75">
				<input type="text" id="fname" name="firstname" placeholder="Introduce email">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="fname">Numero de teléfono</label>
			</div>
			<div class="col-75">
				<input type="text" id="fname" name="firstname" placeholder="Introduce número de teléfono">
			</div>
		</div>
		<div class="row ">
			<div class="col-25u">
				<label for="fname">Contraseña</label>
			</div>
			<div class="col-75">
				<input type="password" id="password" name="firstname" placeholder="Introduce contraseña">
			</div>
		</div>
		<div class="row justify-content-center">
			<a href="#" class="myButton">Registrar</a>

		</div>
		<!--<div class="row">
						<div class="col-25">
							<label for="subject">Subject</label>
						</div>
						<div class="col-75">
							<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
						</div>
					</div>
					<div class="row">
						<input type="submit" value="Submit">
					</div>!-->
	</form>
</div>