.example-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #23C185;
  }
 .mat-toolbar.mat-primary{
  background: #23C185;
  color: #fff;
 }
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    width: 60%;
  }
.mat-icon{
  position: relative;
}


  h1.example-app-name {
    margin-left: 8px;
  }
 
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

  }
  .mat-sidenav{
	background: rgb(255, 255, 255);
	
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;

  }
  .mat-nav-list{
    
	margin-right: 0.3em;
	margin-left: 0.3em;
	background: rgb(255, 255, 255);
	
	
  }
.but1 {
	background:linear-gradient(to bottom, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 100%);
	border-radius:9px;
	color:rgb(0, 0, 0);
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 16px;
}

.admin{
	position: relative;
	left: 15px;
	font-size:24pt;
	font-style: normal;
}


 
  