<div class="container-fluid col-8 panel_central">
    <div class="table-responsive">
        <td><label style="font-size:20px;" for="Name">Citas Pendientes:</label></td>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cita</th>
                    <th scope="col">Dia</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Centro</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Revisión rutinaria</td>
                    <td>16/10/2019</td>
                    <td>12:50</td>
                    <td>Hospital de puertollano</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Recogida de resultados</td>
                    <td>24/12/2109</td>
                    <td>20:50</td>
                    <td>Hospital general de ciudad real</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Analisis de sangre</td>
                    <td>20/11/2019</td>
                    <td>13:10</td>
                    <td>Hospital general de ciudad real</td>
                </tr>
            </tbody>
        </table>
    </div>