<style>
.panel_superior{background:  rgb(59, 180, 59)}
.panel_superior{height: 125px}
.panel_superior{border-color: black}

.panel_lateral{background: rgb(59, 180, 59)}
.panel_lateral{width:  240px}
.panel_lateral{position: absolute}
.panel_lateral{height: 500px}
.panel_lateral{align-items: center}

.panel_lateral{border-right:  1.5px solid black}
.panel_lateral{border-left:   1.5px solid black}
.panel_lateral{border-bottom: 1.5px solid black}



</style>
<div class="container-fluid panel_superior" style="border:1.5px solid black">
  
</div>
<div class="container-fluid panel_lateral">
  
  <button type="button"  class="btn btn-secondary">Solicitar cita</button>
  <button type="button"  class="btn btn-secondary">Modificar cita</button>
  <button type="button"  class="btn btn-secondary">Anular cita</button>

</div>




 