<style>
.panel_superior{  background:  rgb(59, 180, 59);
                  height: 125px;
                  border-color: black}


.panel_lateral{ background: rgb(59, 180, 59);
                width:  240px;
                position: absolute;
                height: 500px;
                align-items: center}


.panel_lateral{ border-right:  1.5px solid black;
                border-left:   1.5px solid black;
                border-bottom: 1.5px solid black}



</style>
<div class="container-fluid panel_superior" style="border:1.5px solid black">
  <div class="col-lg-4">
    <img src="~/app/sescam.png" class="img-fluid img-thumbnail">
</div>
</div>
<div class="container-fluid panel_lateral">
  
  <button type="button"  class="btn btn-secondary">Solicitar cita</button>
  <button type="button"  class="btn btn-secondary">Modificar cita</button>
  <button type="button"  class="btn btn-secondary">Anular cita</button>

</div>




 